body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-color: black;
  }
  
  .task-container {
    
    max-width: 600px;
    text-align: center;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .task-form {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .task-form input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
  }
  
  .task-form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #096114;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .task-form button:hover {
    background-color: #882608;
  }
  
  ul {
    list-style: none;
    padding: 0;
    
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #f5f4f4;
    font-weight: bold;
  }
  
  li:last-child {
    border-bottom: none;
  }
  .deleteButton{
    background-color:rgb(243, 67, 18);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  .remainderButton{
    background-color: rgb(14, 158, 235);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;

  }